*{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 19px;
}

body{
    background-color: blueviolet;
}

main{
    background-color: aliceblue;
    width: 500px;
    margin: auto;
    padding: 10px;
    box-shadow: 3px 3px 5px black;
}

.img_1{
    width: 150px;
    height: 100px;
    padding: 10px;
}

.img_2{
    width: 100px;
    height: 100px;
    padding: 10px;
    border-radius: 50%;
    float: right;
}
.img_3{
    width: 100px;
    height: 100px;
    padding: 10px;
    border-radius: 50%;
    float: right;
}

.img_4{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    box-shadow: 1px 1px 3px black;
    padding: 10px;
}

h1{
    font-size: 2em;
    color: rgb(154, 17, 149);
}

h2{
    font-size: 1.5em;
    color: rgb(154, 17, 149);
}

a{
    text-decoration: nome;
    font-weight: bold;
    color: blueviolet;
}

a:hover{
    text-decoration: underline;
    color: blueviolet;
}